server:
  port: 8081

spring:
  application:
    name: mobility-rest
  datasource:
    url: jdbc:postgresql://localhost:5432/smartcity
    username: smart
    password: smartpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true