server:
  port: 8083

spring:
  application:
    name: emergency-grpc
  datasource:
    url: jdbc:postgresql://localhost:5432/smartcity
    username: smart
    password: smartpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

grpc:
  server:
    port: 9090