server:
  port: 8084
spring:
  application:
    name: query-graphql
  datasource:
    url: jdbc:postgresql://postgres:5432/smartcity  # Changed from localhost to postgres
    username: smart
    password: smartpass
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
    path: /graphql
logging:
  level:
    org.springframework.graphql: DEBUG